@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  height: 90vh;
  background-color: white;
  header {
    background-color: rgb(29, 10, 10);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        background-color: orange;
      }
  }
  .int {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 2rem;
    .chimo {
      color: black;
      position: relative;
      p {
        font-weight: 900;
      }
    }
    .btn {
      padding-right: 2rem;
      padding-top: 1rem;
      button {
        padding: 1rem 2rem;
        background-color: orange;
        border-radius: 10%;
      }
      .login {
        background-color: white;
      }
    }
  }
  .emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 900;
    @media (max-width: 768px) {
        background-color: orange;
      }

    h2 {
      font-size: 3rem;
    }
    p {
      font-weight: 700;
      font-size: 2rem;
      color: rgb(49, 32, 32);
    }
    .butn {
      margin-top: 4rem;
      border: 1px solid black;
      button {
        padding: 1rem 2rem;
        background-color: orange;
      }
    }
  }

  footer {
    width: 100%;
    padding-bottom: .8rem;
    padding-top: .9rem;
    
    background-color: rgb(29, 10, 10);
    color: white;
    margin-top: 11rem;
    @media (max-width: 768px) {
        background-color: orange;
      }
  }
  .foot{
    display: flex;
    flex-direction: column;
    
    
  }
}
